<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>input searchkeyword and return realted linkedin profiles from ElasticSearch database</h2>
    <input id="user_input"  name="input" type="text"  placeholder="Search for the language you want to learn: Python, Javascript,...">
    <input id="submit" type="submit" value="Search">
    <br>
    <h2>search result:</h2>
    <div>
        {% for hit in res['hits']['hits'] %}
            <h3>>{{ hit['_source']['profile']['name'] }}</h3>
            {% for exp in  hit['_source']['experience']  %}
                <h4>{{exp['company']}}</h4>
            {% endfor %}
            <h4>--------------</h4>
            
        {% endfor %}
    </div>
</body>
</html>